public net.minecraft.client.gui.GuiGraphicsExtractor scissorStack
public net.minecraft.client.gui.GuiGraphicsExtractor guiRenderState
public net.minecraft.client.gui.GuiGraphicsExtractor minecraft
public net.minecraft.client.gui.GuiGraphicsExtractor$ScissorStack

#public net.minecraft.client.renderer.state.gui.GuiRenderState current
#public net.minecraft.client.renderer.state.gui.GuiRenderState itemModelIdentities
#public net.minecraft.client.renderer.state.gui.GuiRenderState findAppropriateNode(Lnet/minecraft/client/renderer/state/gui/ScreenArea;)Z
#public net.minecraft.client.renderer.state.gui.GuiRenderState addDebugRectangleIfEnabled(Lnet/minecraft/client/gui/navigation/ScreenArea;)V

public net.minecraft.client.renderer.ItemInHandRenderer mainHandHeight
public net.minecraft.client.renderer.ItemInHandRenderer offHandHeight
