public net.minecraft.client.gui.GuiGraphicsExtractor scissorStack
public net.minecraft.client.gui.GuiGraphicsExtractor guiRenderState
public net.minecraft.client.gui.GuiGraphicsExtractor minecraft
public net.minecraft.client.gui.GuiGraphicsExtractor$ScissorStack

#public net.minecraft.client.renderer.item.ItemStackRenderState layers
#public-f net.minecraft.client.renderer.item.ItemStackRenderState$LayerRenderState quads

public net.minecraft.client.renderer.ItemInHandRenderer mainHandHeight
public net.minecraft.client.renderer.ItemInHandRenderer offHandHeight
